:root {
  --primary-color: #4caf50;
  --secondary-color: #444;
  --background-color: #333;
  --text-color: #fff;
  --nav-height: 60px;
  --conteiner-width: 900px;
}

.dashboard-container {
  display: flex;
  width: 100%;
    
}

.dashboard-content {
  flex-grow: 1;
  padding: 2rem;
}
