@import url('../variables.css');

.layout-content {
  grid-area: layout;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "layout"
    "footer";
  grid-template-rows: auto 1fr auto;
  width: 100%;
}
