@import url("../variables.css");
.layout-header {
  grid-area: header;
  position: relative;
  z-index: 1000;
}

.layout-footer {
  grid-area: footer;
}

.layout-content {
  grid-area: layout;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "layout"
    "footer";
  grid-template-rows: var(--nav-height) 1fr auto;
  width: 100vw;
  min-height: 100vh;
  background: none;
  overflow-x: hidden;
}
