@import url('../variables.css');

.main-container {
  width: 100%;
  color: var(--text-color);
}

.main-container h1 {
  color: var(--text-title-color);
}

.main-section {
  padding: 20px;
  display: grid;
  grid-template-areas: 
    "main-content input-section"
    "input-wrapper input-wrapper";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  width: var(--conteiner-width);
  background-color: var(--main-background-color);
  margin: 0 auto;
  margin-top: calc(30px);
  border-radius: 10px;
}

.form-wrapper {
  grid-area: input-wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
