:root {
  /* GENERALS */
  --primary-color: #dfc83b;
  --secondary-color: #083645;
  --tertiary-color: #0c536b;
  --background-color: #031c34;
  --text-title-color: #dfc83b;
  --text-color: #ddd;
  --success-color: #1c819f;
  --error-color: #f44336;
  --nav-hover-color: #1c819f;
  
  
  /* MAIN */
  --main-background-color: #083645;
  
  /* LINK */
  --link-background-color: #031c34;
  --text-linkform-color: #dfc83b;
  --link-background-color-table: #ddd;

  /* SIZES */
  --nav-height: 60px;
  --conteiner-width: 900px;

  /* DASHBOARDS */
  --dashboard-secondary-color: #72947b;
  --dashboard-background-color: #ddd;
  --dashboard-text-color: #444;

  /* REGISTER */
  --register-background-color: #ddd;
  --register-text-color: #444;

  /* SIDEBAR*/
    --sidebar-background-color: #031c34;
    --sidebar-text-color: #ddd;
    --sidebar-secondary-color: #dfc83b;

  /* BUTTONS */
  --button-primary-color: #1c819f;
  --button-primary-color-hover: #166a8d;

  --button-secondary-color: #dfc83b;
  --button-secondary-color-hover: #c7b02f;

  --button-cancel-color: #f44336;
  --button-cancel-color-hover: #d32f2f;

  
}
