:root {
  --primary-color: #4696e5;
  --secondary-color: #444;
  --background-color: #333;
  --text-color: #fff;
  --nav-height: 60px;
  --conteiner-width: 900px;
}

.lateral-nav {
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
}

