@import url('./styles/variables.css');

main {
  grid-area: main;
  /* padding-top: calc(var(--nav-height)); */
  background-color: var(--background-color);
  display: flex;
  min-height: calc(100vh - calc(var(--nav-height)));
}

footer {
  grid-area: footer;
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
  width: 100%;
  color: white;
}

p {
  margin: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.error-section {
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
}

.response-section {
  background-color: #d4edda;
  color: #155724;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
  width: 100%;
}

.response-section a {
  color: #155724;
  text-decoration: none;
}

.response-section span {
  font-weight: bold;
}

.alert{
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.alert-heading {
  font-weight: bold;
  margin-bottom: 5px;
}

.success-colortext{
  color: var(--success-color);
}

.error-colortext{
  color: var(--error-color);
}